@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/* input.css file */
/*@import "tailwindcss";*/

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-fg-brand-subtle: var(--color-emerald-200);
    --color-fg-brand: var(--color-emerald-700);
    --color-fg-brand-strong: var(--color-emerald-900);

    --color-brand-softer: var(--color-emerald-50);
    --color-brand-soft: var(--color-emerald-100);
    --color-brand: var(--color-emerald-700);
    --color-brand-medium: var(--color-emerald-200);
    --color-brand-strong: var(--color-emerald-800);
    
    --font-sans: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-body: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: 'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace';
}


body {
  /* Evita el rebote elástico en móviles y asegura que el scroll sea fluido */
  overflow-x: hidden;
  overscroll-behavior-y: none;
  padding-bottom: env(safe-area-inset-bottom);
}

.chewy {
  font-family: "Chewy", system-ui;
  color: #823eba;
  font-size: x-large !important;
}
