---

---

<nav class="bg-neutral-primary-soft w-full fixed h-[9dvh] z-40 top-0 start-0 border-b border-default flex">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between px-5 w-full">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/favicon.png" class="h-12" alt="Flowbite Logo" />
            <span class="self-center text-xl text-heading font-semibold whitespace-nowrap chewy">Eazy Peazy App</span>
        </a>
        <div class="inline-flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <a href="/crear-menu" class="text-white bg-brand hover:bg-brand-strong box-border border border-transparent focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-3 py-2 focus:outline-none">Crear menú</a>
        </div>
    </div>
</nav>

