---
import Header from "../components/header.astro"
import BottomHome from "../components/bottom-menu.astro"
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import { pwaInfo } from 'virtual:pwa-info';
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../src/styles/global.css">
    <link rel="icon" type="image/x-icon" href=" /favicon.png">
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <title>{title}</title>
    <ClientRouter />
</head>
<body>
    <Header />
    <main class="mt-[10vh] mb-[12vh]">
        <slot></slot>
    </main>
    <BottomHome />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
    <script>
        import { initFlowbite } from 'flowbite';

        // Este evento se dispara al cargar la página por primera vez 
        // Y también después de cada navegación entre páginas
        document.addEventListener('astro:page-load', () => {
            initFlowbite();
            
        });

  import { registerSW } from 'virtual:pwa-register';

  // Esto registra el service worker automáticamente
  registerSW({
    immediate: true,
    onRegisteredSW(swScriptUrl) {
      console.log('SW registrado:', swScriptUrl);
    },
    onOfflineReady() {
      console.log('La app está lista para trabajar offline');
    },
  });
</script>

</body>
</html>